@media (min-width: 1400px){
    
    /*================================
        home page 3 start
    =================================*/
    .wsus__blog_3 .blog_tag {
        top: 40%;
    }

    .wsus__blog_img {
        height: 250px;
    }
    /*================================
        home page 3 end
    =================================*/
}


@media (min-width: 1200px) and (max-width: 1399.99px) {
    /*================================
        home page 1 start
    =================================*/
    .wsus__banner_overlay {
        padding: 80px 0px;
    }

    .wsus__courses_title {
        font-size: 18px;
    }

    .wsus__single_features {
        text-align: center;
        padding: 50px 10px;
    }
    
    .wsus__single_features p {
        font-size: 15px;
    }
    /*================================
        home page 1 end
    /* ================================ */


    /*================================
    COURSES DETAILS START
    =================================*/
    .wsus__course_heading {
        justify-content: space-between;
        flex-direction: unset;
    }

    .instructor_details p {
        font-size: 15px;
    }

    .wsus__courses_sidebar {
        padding: 15px !important;
    }

    .wsus__sidebar_course_text a {
        font-size: 14px;
    }
    /*================================
    COURSES DETAILS END
    =================================*/


    /*================================
        gallery page start
    =================================*/
    .wsus__gallery .wsus__gallery_single {
        height: 250px;
    }
    /*================================
        gallery page end
    =================================*/


    /*================================
        package page start
    =================================*/
    .wsus__single_packages {
        padding: 30px;
    }
    /*================================
        package page end
    =================================*/


    /*================================
        cart view start
    =================================*/
    .wsus__cart_list .wsus__pro_img {
        width: 180px;
    }

    .wsus__cart_list .wsus__pro_status, 
    .wsus__cart_list .wsus__pro_tk, 
    .wsus__cart_list .wsus__pro_icon {
        width: 161.5px;
    }
    /*================================
        cart view end
    =================================*/


    /*================================
       checkout start
    =================================*/
    .wsus__order_details_img {
        height: 60px;
    }
    /*================================
       checkout end
    =================================*/


    /*================================
        home page 3 start
    =================================*/
    .wsus__blog_3 .blog_tag {
        top: 40%;
    }
    /*================================
        home page 3 end
    =================================*/
}



@media (min-width: 992px) and (max-width: 1199.99px) {
    /*================================
        home page 1 start
    =================================*/
    .wsus__banner_text h1 {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        text-transform: capitalize;
    }

    .wsus__banner_overlay {
        padding: 80px 0px;
    }

    .wsus__single_course_det h3 {
        font-size: 22px;
    }

    .wsus__single_course_det p {
        color: #fff;
        font-size: 14px;
    }

    .wsus__courses_title {
        font-size: 15px;
    }

    .wsus__single_courses_img {
        height: 200px;
    }

    .wsus__single_choose {
        padding: 20px;
    }

    .wsus__single_choose h4 {
        font-size: 20px;
    }

    .wsus__single_features {
        padding: 50px 10px;
    }

    .wsus__single_features p {
        font-size: 15px;
    }

    .wsus__footer_text {
        margin-bottom: 50px;
    }

    .wsus__copyrite {
        margin-top: 50px !important;
    }
    /*================================
        home page 1 end
    =================================*/


    /*================================
    COURSES DETAILS START
    =================================*/
    .wsus__course_heading {
        justify-content: space-between;
        flex-direction: unset;
        padding: 15px 10px;
    }

    .wsus__box_heading h4 {
        font-size: 13px;
    }

    .wsus__course_heading img {
        width: 50px;
        height: 50px;;
    }

    .wsus__box_heading {
        margin-top: 5px;
    }

    .instructor_details h4 {
        margin-top: 20px;
    }

    .wsus__courses_sidebar {
        padding: 15px !important;
    }
    /*================================
    COURSES DETAILS END
    =================================*/


    /*================================
        classes details start
    =================================*/
    .wsus__class_det_single {
        padding: 15px;
    }

    .wsus__class_det_single h5 {
        font-size: 20px;
    }
    /*================================
        classes details  end
    =================================*/


   /*================================
        FAQ page start
    =================================*/
    .wsus__faq_text {
        margin-top: 100px;
    }
    /*================================
        FAQ page end
    =================================*/


    /*================================
        gallery page start
    =================================*/
    .wsus__gallery .wsus__gallery_single {
        height: 200px;
    }
    /*================================
        gallery page end
    =================================*/


    /*================================
        package page start
    =================================*/
    .wsus__single_packages {
        padding: 20px;
    }
    /*================================
        package page end
    =================================*/


    /*================================
        cart view start
    =================================*/
    .wsus__cart_list .wsus__pro_img {
        width: 150px;
    }

    .wsus__cart_list .wsus__pro_name {
        width: 450px;
    }

    .wsus__cart_list .wsus__pro_status, 
    .wsus__cart_list .wsus__pro_tk, 
    .wsus__cart_list .wsus__pro_icon {
        width: 170px;
    }
    /*================================
        cart view end
    =================================*/


    /*================================
        checkout start
    =================================*/
    .wsus__order_details .common_btn {
        font-size: 14px;
    }

    .wsus__order_details {
        margin-top: 0;
    }

    .wsus__order_details_img {
        height: 60px;
    }
    /*================================
        checkout end
    =================================*/


    /*================================
        payment start
    =================================*/
    .wsus__pay_info_area .tab-pane {
        padding: 15px;
    }

    .wsus__save_payment h6 {
        width: 100%;
    }

    .wsus__save_payment img {
        margin: 10px 10px 0px 0px;
    }

    .wsus__payment_area form {
        padding: 15px;
    }








    .wsus__payment_area button, 
    .wsus__input_area button {
        padding: 10px 20px;
        font-size: 16px;
    }
    /*================================
        payment end
    =================================*/


    /*================================
        home page 2 start
    =================================*/
    /* banner 2 start */
    .wsus__banner_2_text {
        width: 90%;
        margin-top: 35px;
    }

    .wsus__banner_2_text p {
        margin: 30px 0px 40px 15%;
    }

    .wsus__services_2_single {
        padding: 30px 0px;
    }

    #wsus__single_course_2 .wsus__single_course_center {
        padding: 30px 10px;
    }

    .wsus__features_2 .wsus__single_features {
        padding: 30px 10px;
    }
    /*================================
        home page 2 end
    =================================*/


    /*================================
        home page 3 start
    =================================*/
    .wsus__blog_3 .blog_tag {
        top: 35%;
    }
    /*================================
        home page 3 end
    =================================*/
  
}



@media (min-width: 768px) and (max-width: 991.99px) {
    /*================================
        home page 1 start
    =================================*/
    /* topbar start */
    #wsus__topbar {
        padding: 15px 0px;
    }

    .wsus__topbar_right {
        justify-content: center;
        line-height: 30px;
    }

    .wsus__blog_img {
        height: 190px;
    }

    .wsus__topbar_left {
        line-height: 30px;
    }

    /* main menu start */
    .main_menu {
        height: 70px;
    }

    .navbar-toggler {
        border: 1px solid #50be46;
        color: #50be46;
        padding: 7px 10px;
        box-shadow: none !important;
    }

    #navbarNav {
        background: #324a6f;
        z-index: 1;
        margin-top: 2px;
    }

    .main_menu .navbar-nav {
        line-height: 45px;
        padding: 15px 10px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        text-align: center;
        color: #fff;
    }

    .main_menu .navbar-brand {
        font-size: 40px;
    }

    .wsus__droapdown {
        left: 50%;
        transform: translateX(-50%) !important;
        text-align: center;
    }

    .login_cart {
        justify-content: center;
        margin-bottom: 15px;
    }

    .login_cart li a {
        background: #50be46;
    }

    /* banner start */
    .wsus__banner_text_center {
        position: static;
        transform: translate(0);
    }

    .wsus__banner_text {
        text-align: center;
    }

    .banner_shape {
        display: none;
    }

    .wsus__banner_overlay {
        background: #233d6345;
        padding: 60px 0px;
        position: relative;
        overflow: hidden;
    }

    .wsus__banner_img .round_shape {
        top: -20px;
    }

    /* single courses start */
    .wsus__single_course_det {
        justify-content: start;
        margin: 15px 0px;
    }

    .wsus__single_course_det h3 {
        font-size: 20px;
    }

    .wsus__single_course_det p {
        font-size: 14px;
    }

    /* courses start */
    .heading_title {
        font-size: 27px;
    }

    .courses_filter button {
        margin: 0px 5px;
    }

    .courses_filter {
        margin-bottom: 0;
    }

    .wsus__courses_title {
        font-size: 18px;
    }

    .wsus__single_choose {
        padding: 20px;
    }
    .wsus__single_choose h4 {
        font-size: 18px;
    }

    /* features start */
    .wsus__single_features {
        padding: 40px 25px;
    }

    /* counter start */
    .wsus__single_counter {
        margin-bottom: 25px;
    }

    /* blog start */
    .wsus__single_blog {
        margin-bottom: 25px;
    }

    .wsus__blog_text .blog_title {
        font-size: 16px;
    }


    /* testimonia start */
    .wsus__testimonial {
        margin-top: 70px !important;
    }


    /* subscribe start */
    .wsus__subs_text h3 {
        font-size: 25px;
    }


    /* footer */
    .wsus__subs_text p {
        margin-bottom: 10px;
    }

    .wsus__footer_text {
        margin-bottom: 50px;
    }

    .wsus__footer_text h4 {
        margin-bottom: 10px;
    }

    .wsus__copyrite{
        margin-top: 50px !important;
    }
    /*================================
        home page 1 end
    =================================*/
      
 
    /*================================
        breadcrumb start
    =================================*/
    .wsus__breadcrumb_overlay {
        padding: 75px 0px !important;
    }

    .wsus__breadcrumb h4 {
        font-size: 25px;
    }

    .wsus__breadcrumb ul li a {
        font-size: 16px;
    }

    .wsus__breadcrumb ul li a::after {
        font-size: 16px;
    }
    /*================================
        breadcrumb end
    =================================*/


    /*================================
        courses page start
    =================================*/
    .wsus__courses_sidebar_filter 
    .filter_icon {
        opacity: 1;
        visibility: visible;
    }

    .wsus__courses_sidebar_filter {
        margin-bottom: 0 !important;
    }

    .wsus__courses_sidebar {
        height: 0;
        opacity: 0;
        display: none;
    }

    .wsus__courses_sidebar.show_filter_bar {
        height: auto;
        opacity: 1;
        margin-top: 25px;
        display: block;
    }

    .select_area {
        width: 48%;
        margin-top: 25px;
    }

    .wsus__single_courses_img {
        height: 230px;
    }
    /*================================
        courses page end
    =================================*/


    /*================================
        courses details page start
    =================================*/
    .wsus__details_single_row h4, 
    .wsus__courses_sidebar_single h4 {
        font-size: 18px;
    }

    .wsus__details_single_row .quot_text {
        padding: 15px 15px;
    }

    .wsus__details_single_row .quot_text li span {
        width: 60%;
    }

    .instructor_details {
        margin-top: 25px;
    }

    .wsus__course_heading {
        padding: 10px;
        flex-direction: unset;
        justify-content: space-between;
    }

    .wsus__box_heading h4 {
        font-size: 13px;
    }

    .wsus__course_heading img {
        width: 55px;
        height: 55px;
    }

    .wsus__box_heading {
        margin-top: 5px;
    }
    /*================================
        courses details page end
    =================================*/


    /*================================
        classes details page start
    =================================*/
    .wsus__class_det_single {
        padding: 20px;
    }
    /*================================
        classes details page end
    =================================*/


    /*================================
        about page start
    =================================*/
    .wsus__about_us {
        margin-bottom: 65px !important;
    }

    .wsus__about_text h4 {
        margin-top: 30px;
    }

    .wsus__about_icon {
        margin-bottom: 10px;
    }

    .wsus__about_context p {
        font-size: 14px;
    }

    .wsus__about_single_count {
        padding: 30px;
    }
    /*================================
        about page end
    =================================*/


    /*================================
        become a teacher start
    =================================*/
    .wsus__teacher_banner {
        padding: 5px;
    }

    .wsus__teacher_banner_text_align {
        position: static;
        transform: translate(0);
    }

    .wsus__teacher_banner_text h3 {
        font-size: 25px;
        margin-top: 20px;
    }

    .wsus__teacher_banner_text {
        padding-bottom: 25px;
    }

    .wsus__instructor_form {
        margin-bottom: 35px;
        padding: 40px;
    }

    .wsus__instructor_form h5 {
        font-size: 25px;
    }
    /*================================
        become a teacher end
    =================================*/


    /*================================
        contact page start
    =================================*/
    .wsus__contact {
        margin-bottom: 75px !important;
    }

    .wsus__contact .wsus__heading_area {
        margin-bottom: 0;
    }

    .wsus__contact_question {
        margin-bottom: 25px;
    }
    /*================================
        contact page end
    =================================*/
 

    /*================================
        instructor details start
    =================================*/
    .wsus__instructor_details_area {
        margin-bottom: 65px;
    }

    .wsus__instructor_text {
        position: static;
        transform: translate(0);
    }

    .wsus__instructor_text h4 {
        font-size: 23px;
        margin-top: 25px;
    }

    .wsus__instructor_text h6 {
        font-size: 14px;
    }
    /*================================
        instructor details end
    =================================*/


   /*================================
        FAQ page start
    =================================*/
    .wsus__faq_text {
        margin-top: 100px;
    }
    /*================================
        FAQ page end
    =================================*/


    /*================================
        gallery page start
    =================================*/
    .wsus__gallery .wsus__gallery_single {
        height: 140px;
    }
    /*================================
        gallery page end
    =================================*/


    /*================================
        login page start
    =================================*/
    .wsus__login_reg_area {
        padding: 10px;
    }

    .wsus__login_reg_area .nav-item {
        width: 40%;
    }
    /*================================
        login page end
    =================================*/


    /*================================
        package page start
    =================================*/
    .wsus__single_packages {
        padding: 30px;
    }
    /*================================
        package page end
    =================================*/


    /*================================
        cart view start
    =================================*/
    .wsus__cart_list .wsus__pro_img {
        width: 150px;
    }

    .wsus__cart_list .wsus__pro_name {
        width: 450px;
    }

    .wsus__cart_list .wsus__pro_status, 
    .wsus__cart_list .wsus__pro_tk, 
    .wsus__cart_list .wsus__pro_icon {
        width: 170px;
    }
    /*================================
        cart view end
    =================================*/


    /*================================
        checkout start
    =================================*/
    .wsus__order_details .common_btn {
        font-size: 14px;
    }

    .wsus__order_details_img {
        height: 65px;
    }
    /*================================
        checkout end
    =================================*/


    /*================================
        payment start
    =================================*/
    .wsus__pay_info_area .tab-pane {
        margin-bottom: 25px;
    }

    .wsus__payment_area button,
    .wsus__input_area button {
        padding: 10px 20px;
        font-size: 14px;
    }
    /*================================
        payment end
    =================================*/


    /*================================
        home page 2 start
    =================================*/

    /* main menu 2 start */
    .main_menu_2 .navbar-toggler {
        border: none;
        color: #fff;
        background: #d33;
    }

    .main_menu_2 {
        background: #fff;
    }

    .main_menu_2 .navbar-brand {
        color: #d33 !important;
    }

    .wsus__right_menu {
        padding-bottom: 20px;
        justify-content: center;
    }

    .main_menu_2 .navbar-nav .nav-item {
        margin-right: 0;
        margin-top: 10px;
    }

    .wsus__right_menu li .common_btn_2 {
        padding: 0 15px;
        margin-right: 0px;
        height: 30px;
        line-height: 30px;
        color: #fff !important;
    }

    .main_menu_2 .wsus__droapdown::after {
        right: 40%;
        transform: translateX(-40%);
    }

    .main_menu_2 .wsus__droapdown {
        top: 130%;
    }

    .wsus__right_menu li .common_btn_2::after {
        display: none;
    }

    .main_menu_2 #navbarNav {
        background: #fff;
        border-top: 1px solid #d33;
    }

    .main_menu_2 .navbar-nav .nav-item .nav-link {
        color: #d33;
        background: #dd333317;
    }

    .main_menu_2 .navbar-nav .nav-link.active, 
    .main_menu_2 .navbar-nav .nav-item:hover .nav-link, 
    .main_menu_2 .menu_fix .navbar-nav .nav-item:hover .nav-link {
        color: #fff !important;
        background: #d33 !important;
    }

    .main_menu_2 .wsus__right_menu li a {
        color: #d33;
        border: 1px solid #d33;
    }

    .main_menu_2 .wsus__right_menu li a:hover {
        color: #fff !important;
    }

    /* banner 2 start */

    .wsus__banner_2_text {
        width: 90%;
        margin-top: 40px;
    }

    .wsus__banner_2_text h1 {
        font-size: 50px;
    }

    .wsus__banner_2_text p {
        margin: 30px 0px 40px 15%;
    }

    /* single courses 2 start */
    #wsus__single_course_2 .wsus__single_course_det {
        justify-content: start;
        margin: 15px;
    }

    /* courses 2 start */
    .wsus__single_courses_2_text .courses_2_link {
        font-size: 17px;
    }

    /* instructor 2 start */
    .wsus__single_instructor_2_text {
        padding: 20px 0px;
        position: static;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .wsus__single_instructor_2_img {
        height: 270px;
    }

    .wsus__single_instructor_2_text a {
        text-align: center;
    }

    .wsus__single_instructor_2_text p {
        text-align: center;
    }

    .wsus__single_instructor_2_text ul{
        justify-content: center;
    }

    /* future 2 start */
    .wsus__features_2 .wsus__single_features {
        padding: 25px;
    }

    /* blog 2 start */
    .wsus__blog_2 {
        margin-bottom: 75px !important;
    }
    /*================================
        home page 2 end
    =================================*/


    /*================================
        home page 3 start
    =================================*/
    .courses_filter_3 {
        margin-bottom: 25px !important;
    }

    .wsus__single_counter_3 {
        margin-bottom: 60px !important;
    }

    .wsus__counter_3_overlay {
        padding: 70px 0px 10px 0px;
    }

    .wsus__blog_3 .blog_tag {
        top: 37%;
    }

    .wsus__testimonial_3_img p {
        font-size: 25px;
    }

    .courses_filter_3 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .courses_filter_3 button {
        width: auto;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
    }
    /*================================
        home page 3 end
    =================================*/

}



@media (min-width: 576px) and (max-width: 767.99px) {
    /*================================
        home page 1 start
    =================================*/
    /* topbar start */
    #wsus__topbar {
        height: auto;
        padding: 15px 0px;
    }

    .wsus__topbar_left {
        line-height: 0;
        justify-content: center;
        flex-direction: column;
    }

    .wsus__topbar_left li a {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }

    .wsus__topbar_right {
        justify-content: center;
        line-height: 30px;
    }

    /* main menu start */
    .main_menu {
        height: 70px;
    }

    .navbar-toggler {
        border: 1px solid #50be46;
        color: #50be46;
        padding: 7px 10px;
        box-shadow: none !important;
    }

    #navbarNav {
        background: #324a6f;
        z-index: 1;
        margin-top: 2px;
    }

    .main_menu .navbar-nav {
        line-height: 45px;
        padding: 15px 10px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        text-align: center;
        color: #fff;
    }

    .main_menu .navbar-brand {
        font-size: 40px;
    }

    .wsus__droapdown {
        left: 50%;
        transform: translateX(-50%) !important;
        text-align: center;
    }

    .login_cart {
        justify-content: center;
        margin-bottom: 15px;
    }

    .login_cart li a {
        background: #50be46;
    }

    /* banner start */
    .wsus__banner_text h1 {
        font-size: 40px;
    }

    .wsus__banner_text_center {
        position: static;
        transform: translate(0);
    }

    .banner_shape {
        display: none;
    }

    .wsus__banner_overlay {
        background: #233d6345;
        padding: 60px 0px;
        position: relative;
        overflow: hidden;
    }

    .wsus__banner_img .round_shape {
        top: -50px;
        width: 80px;
    }

    /* single courses start */
    .wsus__single_course_det {
        justify-content: start;
        margin: 15px 0px;
    }

    .wsus__single_course_det h3 {
        font-size: 20px;
    }

    .wsus__single_course_det p {
        font-size: 14px;
    }

    /* courses start */
    .heading_title {
        font-size: 27px;
    }

    .courses_filter button {
        margin: 0px 5px;
    }

    .courses_filter {
        margin-bottom: 0;
    }

    .wsus__courses_title {
        font-size: 18px;
    }

    .wsus__single_choose {
        padding: 20px;
    }
    .wsus__single_choose h4 {
        font-size: 18px;
    }

    /* features start */
    .wsus__single_features {
        padding: 50px 20px;
    }

    /* counter start */
    .wsus__single_counter {
        margin-bottom: 25px;
    }

    /* blog start */
    .wsus__single_blog {
        margin-bottom: 25px;
    }

    .wsus__blog_img {
        height: 200px;
    }

    .wsus__blog_text .blog_title {
        font-size: 16px;
    }

    /* subscribe start */
    .wsus__subs_text h3 {
        font-size: 25px;
    }

    /* footer */
    .wsus__subs_text p {
        margin-bottom: 10px;
    }

    .wsus__footer_text {
        margin-bottom: 50px;
    }

    .wsus__footer_text h4 {
        margin-bottom: 10px;
    }
    /*================================
        home page 1 end
    =================================*/


    /*================================
        breadcrumb start
    =================================*/
    .wsus__breadcrumb_overlay {
        padding: 50px 0px !important;
    }

    .wsus__breadcrumb h4 {
        font-size: 25px;
    }

    .wsus__breadcrumb ul li a {
        font-size: 16px;
    }

    .wsus__breadcrumb ul li a::after {
        font-size: 16px;
    }
    /*================================
        breadcrumb end
    =================================*/


    /*================================
        courses page start
    =================================*/
    .wsus__courses_sidebar_filter 
    .filter_icon {
        opacity: 1;
        visibility: visible;
    }

    .wsus__courses_sidebar_filter {
        margin-bottom: 0 !important;
    }

    .wsus__courses_sidebar {
        height: 0;
        opacity: 0;
        display: none;
    }

    .wsus__courses_sidebar.show_filter_bar {
        height: auto;
        opacity: 1;
        margin-top: 25px;
        display: block;
    }

    .select_area {
        width: 48%;
        margin-top: 25px;
    }
    /*================================
        courses page end
    =================================*/


    /*================================
        courses details page start
    =================================*/
    .wsus__details_single_row h4, 
    .wsus__courses_sidebar_single h4 {
        font-size: 18px;
    }

    .wsus__details_single_row .quot_text {
        padding: 15px 15px;
    }

    .wsus__details_single_row .quot_text li span {
        width: 60%;
    }

    .instructor_details {
        margin-top: 25px;
    }

    .wsus__course_heading {
        flex-direction: column;
    }
    /*================================
        courses details page end
    =================================*/


    /*================================
        classes details page start
    =================================*/
    .wsus__class_det_single {
        padding: 20px;
        margin-bottom: 25px;
    }

    .wsus__class_det_single h5 {
        font-size: 18px;
    }

    .overview_link {
        margin-top: 0 !important;
    }

    .overview_link li a {
        font-size: 14px;
    }
    /*================================
        classes details page end
    =================================*/


    /*================================
        about page start
    =================================*/
    .wsus__about_text h4 {
        margin-top: 30px;
    }

    .wsus__about_icon {
        margin-bottom: 10px;
    }

    .wsus__about_context p {
        font-size: 14px;
    }

    .wsus__about_single_count {
        padding: 30px;
    }
    /*================================
        about page end
    =================================*/


    /*================================
        become a teacher start
    =================================*/
    .wsus__teacher_banner {
        padding: 5px;
    }

    .wsus__teacher_banner_text_align {
        position: static;
        transform: translate(0);
    }

    .wsus__teacher_banner_text h3 {
        font-size: 25px;
        margin-top: 20px;
    }

    .wsus__teacher_banner_text {
        padding-bottom: 25px;
    }

    .wsus__instructor_form {
        padding: 15px;
        margin-bottom: 30px;
    }

    .wsus__instructor_form h5 {
        font-size: 25px;
    }

    .wsus__instructor_tabs .nav-item {
        width: 100%;
        margin-top: 5px;
    }

    .wsus__instructor_form .common_btn {
        width: 100%;
    }
    /*================================
        become a teacher end
    =================================*/


    /*================================
        blog details start
    =================================*/
    .wsus__main_blog_header span {
        display: block;
        margin: 10px 0px;
    }

    .wsus__main_blog_header {
        margin-top: 35px;
    }

    .wsus__main_blog h2 {
        font-size: 25px;
        margin: 30px 0px 20px 0px;
    }

    .wsus__blog_quot_area {
        padding: 20px !important;
        margin: 30px 0px !important;
    }

    .wsus__blog_quot_area p {
        font-size: 18px;
    }

    .wsus__blog_details h5, .wsus__blog_details h4 {
        font-size: 25px;
    }

    .wsus__share_blog {
        margin: 30px 0px;
    }

    .wsus__details_single_row {
        margin-top: 20px;
    }
    /*================================
        blog details end
    =================================*/


    /*================================
        contact page start
    =================================*/
    .wsus__contact .wsus__heading_area {
        margin-bottom: 0;
    }

    .wsus__contact_question {
        margin-bottom: 25px;
    }
    /*================================
        contact page end
    =================================*/


    /*================================
        instructor details start
    =================================*/
    .wsus__instructor_details_area {
        margin-bottom: 65px;
    }

    .wsus__instructor_text {
        position: static;
        transform: translate(0);
    }

    .wsus__instructor_text h4 {
        font-size: 23px;
        margin-top: 25px;
    }

    .wsus__instructor_text h6 {
        font-size: 14px;
    }
    /*================================
        instructor details end
    =================================*/


    /*================================
        FAQ page start
    =================================*/
    .wsus__faq_text h3 {
        font-size: 20px;
    }

    .wsus__faq_text .wsus_call_btn {
        font-size: 20px;
    }

    .wsus__counter_text {
        margin-bottom: 25px;
    }
    /*================================
        FAQ page end
    =================================*/


    /*================================
        gallery page start
    =================================*/
    .wsus__gallery .wsus__gallery_single {
        height: 170px;
    }
    /*================================
        gallery page end
    =================================*/


    /*================================
        login page start
    =================================*/
    .wsus__login_reg_area {
        margin-bottom: 30px;
    }
    /*================================
        login page end
    =================================*/


    /*================================
        cart view start
    =================================*/
    .wsus__cart_list .wsus__pro_img {
        width: 150px;
    }

    .wsus__cart_list .wsus__pro_name {
        width: 350px;
    }

    .wsus__cart_list td.wsus__pro_name .cart_view_title {
        font-size: 16px;
    }

    .wsus__cart_list .wsus__pro_name span {
        font-size: 13px;
    }

    .wsus__cart_list .wsus__pro_status,
    .wsus__cart_list .wsus__pro_tk,
    .wsus__cart_list .wsus__pro_icon {
        width: 130px;
    }
    /*================================
        cart view end
    =================================*/


    /*================================
        checkout start
    =================================*/
    .wsus__order_details_img {
        height: 60px;
    }
    
    .form-check-label {
        font-size: 13px;
    }

    .wsus__order_details .common_btn {
        font-size: 14px;
    }
    /*================================
        checkout end
    =================================*/


    /*================================
        payment start
    =================================*/
    .wsus__pay_info_area #v-pills-tab {
        flex-direction: column !important;
    }

    .wsus__pay_info_area .nav-pills .nav-link {
        width: 100%;
    }

    .wsus__pay_info_area .tab-pane {
        margin-bottom: 25px;
    }

    .wsus__payment_area form {
        padding: 20px;
    }

    .wsus__payment_area button,
    .wsus__input_area button {
        padding: 10px 20px;
        font-size: 14px;
    }
    /*================================
        payment end
    =================================*/



    /*================================
        home page 2 start
    =================================*/

    /* main menu 2 start */
    .main_menu_2 .navbar-toggler {
        border: none;
        color: #fff;
        background: #d33;
    }

    .main_menu_2 {
        background: #fff;
    }

    .main_menu_2 .navbar-brand {
        color: #d33 !important;
    }

    .wsus__right_menu {
        padding-bottom: 20px;
    }

    .main_menu_2 .navbar-nav .nav-item {
        margin-right: 0;
        margin-top: 10px;
    }

    .wsus__right_menu li .common_btn_2 {
        padding: 0 15px;
        margin-right: 0px;
        height: 30px;
        line-height: 30px;
        color: #fff !important;
    }

    .main_menu_2 .wsus__droapdown::after {
        right: 40%;
        transform: translateX(-40%);
    }

    .main_menu_2 .wsus__droapdown {
        top: 130%;
    }

    .wsus__right_menu li .common_btn_2::after {
        display: none;
    }

    .main_menu_2 #navbarNav {
        background: #fff;
        border-top: 1px solid #d33;
    }

    .main_menu_2 .navbar-nav .nav-item .nav-link {
        color: #d33;
        background: #dd333317;
    }

    .main_menu_2 .navbar-nav .nav-link.active, 
    .main_menu_2 .navbar-nav .nav-item:hover .nav-link, 
    .main_menu_2 .menu_fix .navbar-nav .nav-item:hover .nav-link {
        color: #fff !important;
        background: #d33 !important;
    }

    .main_menu_2 .wsus__right_menu li a {
        color: #d33;
        border: 1px solid #d33;
    }

    .main_menu_2 .wsus__right_menu li a:hover {
        color: #fff !important;
    }

    /* banner 2 start */
    .wsus__banner_2_text {
        width: 90%;
        margin-top: 40px;
    }

    .wsus__banner_2_text h1 {
        font-size: 50px;
    }

    .wsus__banner_2_text p {
        width: 100%;
        margin: 30px 0px 40px 0px;
    }

    /* single courses 2 start */
    #wsus__single_course_2 .wsus__single_course_center {
        padding: 15px;
    }

    #wsus__single_course_2 .wsus__single_course_det .icon {
        width: 58px;
    }

    .wsus__courses_2 .courses_filter button {
        margin: 0px 0px 5px 0px;
        font-size: 12px;
    }

    #wsus__single_course_2 .text {
        width: 100%;
    }

    /* courses 2 start */
    .wsus__courses_2 .courses_filter button {
        margin: 0px 0px 5px 0px;
    }

    /* apply area 2 start */
    .wsua__apply_area_2_overlay {
        padding: 50px 0px;
    }

    /* blog 2 start */
    .wsus__blog_2_top img {
        width: 40px !important;
        height: 40px;
        top: -35px;
        left: 0px;
    }

    /* instructor 2 start */
    .wsus__single_instructor_2_text {
        padding: 20px 0px;
        position: static;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .wsus__single_instructor_2_text a {
        text-align: center;
    }

    .wsus__single_instructor_2_text p {
        text-align: center;
    }

    .wsus__single_instructor_2_text ul{
        justify-content: center;
    }

    /* footer 2 start */

    .wsus__footer_2 .wsus__footer_text h4 {
        margin-bottom: 25px;
    }

    .wsus__footer_2 .wsus__footer_text {
        margin-bottom: 25px;
    }
    /*================================
        home page 2 end
    =================================*/


    /*================================
        home page 3 start
    =================================*/
    .courses_filter_3 {
        margin-bottom: 25px !important;
    }

    .wsus__single_counter_3 {
        margin-bottom: 60px !important;
    }

    .wsus__counter_3_overlay {
        padding: 70px 0px 10px 0px;
    }

    .wsus__blog_3 .blog_tag {
        top: 37%;
    }

    .wsus__blog_3 .wsus__blog_2_top img {
        width: 35px !important;
        height: 35px;
        border: 2px solid #324a6f;
    }

    .wsus__blog_2_top li {
        padding: 0px 7px;
        font-size: 13px;
    }

    .wsus__testimonial_3_img p {
        font-size: 25px;
    }
    /*================================
        home page 3 end
    =================================*/
}



@media (max-width: 575.99px) {
    /*================================
        home page 1 start
    =================================*/
    /* topbar start */
    #wsus__topbar {
        height: auto;
        padding: 15px 0px;
    }

    .wsus__topbar_left {
        line-height: 0;
        justify-content: center;
    }

    .wsus__topbar_left li a {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }

    .wsus__topbar_right {
        justify-content: center;
        line-height: 30px;
    }

    /* main menu start */
    .main_menu {
        height: 70px;
    }

    .navbar-toggler {
        border: 1px solid #50be46;
        color: #50be46;
        padding: 7px 10px;
        box-shadow: none !important;
        margin-right: 15px;
    }

    #navbarNav {
        background: #324a6f;
        z-index: 1;
        margin-top: 2px;
    }

    .main_menu .navbar-nav {
        line-height: 45px;
        padding: 15px 10px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        text-align: center;
        color: #fff;
    }

    .main_menu .navbar-brand {
        font-size: 40px;
        margin-left: 15px;
    }

    .wsus__droapdown {
        left: 50%;
        transform: translateX(-50%) !important;
        text-align: center;
    }

    .login_cart {
        justify-content: center;
        margin-bottom: 15px;
    }

    .login_cart li a {
        background: #50be46;
    }

    /* banner start */
    .wsus__banner_text h1 {
        font-size: 33px;
    }

    .wsus__banner_text_center {
        position: static;
        transform: translate(0);
    }

    .banner_shape {
        display: none;
    }

    .wsus__banner_overlay {
        background: #233d6345;
        padding: 60px 0px;
        position: relative;
        overflow: hidden;
    }

    .wsus__banner_img .round_shape {
        top: -20px;
        left: 38%;
        width: 20% !important;
        height: 330px;
    }

    /* single courses start */
    .wsus__single_course_det {
        justify-content: start;
        margin: 15px 0px;
    }

    .wsus__single_course_det h3 {
        font-size: 20px;
    }

    .wsus__single_course_det p {
        font-size: 14px;
    }

    /* courses start */
    .heading_title {
        font-size: 27px;
    }

    .courses_filter button {
        margin: 5px;
    }

    .courses_filter {
        margin-bottom: 0;
    }

    .wsus__courses_title {
        font-size: 18px;
    }

    .wsus__single_courses_img {
        height: 200px;
    }

    /* features start */
    .wsus__single_features {
        margin: 0px 10px 25px 10px;
    }

    /* counter start */
    .wsus__single_counter {
        margin-bottom: 25px;
    }

    /* blog start */
    .wsus__single_blog {
        margin-bottom: 25px;
    }

    .wsus__blog_img {
        height: 220px;
    }

    .wsus__blog_text .blog_title {
        font-size: 16px;
    }

    /* subscribe start */
    .wsus__subs_text h3 {
        font-size: 25px;
    }

    /* footer */
    .wsus__subs_form input {
        padding: 15px;
    }

    .wsus__subs_form button {
        padding: 12.5px;
        font-size: 14px;
    }

    .wsus__subs_text p {
        margin-bottom: 10px;
    }

    .wsus__footer_text {
        margin-bottom: 50px;
    }

    .wsus__footer_text h4 {
        margin-bottom: 10px;
    }
    /*================================
        home page 1 end
    =================================*/


    /*================================
        breadcrumb start
    =================================*/
    .wsus__breadcrumb_overlay {
        padding: 50px 0px !important;
    }

    .wsus__breadcrumb h4 {
        font-size: 25px;
    }

    .wsus__breadcrumb ul li a {
        font-size: 16px;
    }

    .wsus__breadcrumb ul li a::after {
        font-size: 16px;
    }
    /*================================
        breadcrumb end
    =================================*/


    /*================================
        courses page start
    =================================*/
    .wsus__courses_sidebar_filter 
    .filter_icon {
        opacity: 1;
        visibility: visible;
    }

    .wsus__courses_sidebar_filter {
        margin-bottom: 0 !important;
    }

    .wsus__courses_sidebar {
        height: 0;
        opacity: 0;
        display: none;
        padding: 15px !important;
    }

    .wsus__courses_sidebar.show_filter_bar {
        height: auto;
        opacity: 1;
        margin-top: 25px;
        display: block;
    }

    .select_area {
        width: 100%;
        margin-top: 25px;
    }
    /*================================
        courses page end
    =================================*/


    /*================================
        courses details page start
    =================================*/
    .wsus__details_single_row h4, 
    .wsus__courses_sidebar_single h4 {
        font-size: 18px;
    }

    .wsus__details_single_row .quot_text {
        padding: 15px 15px;
    }

    .wsus__details_single_row .quot_text li span {
        width: 60%;
    }

    .instructor_details {
        margin-top: 25px;
    }

    .wsus__course_heading {
        justify-content: flex-start;
        flex-direction: column;
    }
    /*================================
        courses details page end
    =================================*/


    /*================================
        classes details page start
    =================================*/
    .wsus__class_det_single {
        padding: 20px;
        margin-bottom: 25px;
    }

    .wsus__class_det_single h5 {
        font-size: 18px;
    }

    .overview_link {
        margin-top: 0 !important;
    }

    .overview_link li a {
        margin-top: 10px;
    }
    /*================================
        classes details page end
    =================================*/


    /*================================
        about page start
    =================================*/
    .wsus__about_text h4 {
        font-size: 22px;
        margin-top: 30px;
    }

    .wsus__about_text_single {
        display: flex;
        flex-wrap: wrap;
    }

    .wsus__about_icon::before {
        display: none;
    }

    .wsus__about_icon {
        margin-bottom: 10px;
    }

    .wsus__about_context p {
        font-size: 14px;
    }

    .wsus__about_single_count {
        padding: 30px;
    }
    /*================================
        about page end
    =================================*/


    /*================================
        become a teacher start
    =================================*/
    .wsus__teacher_banner {
        padding: 5px;
    }

    .wsus__teacher_banner_text_align {
        position: static;
        transform: translate(0);
    }

    .wsus__teacher_banner_text h3 {
        font-size: 25px;
        margin-top: 20px;
    }

    .wsus__teacher_banner_text {
        padding-bottom: 25px;
    }

    .wsus__instructor_form {
        padding: 15px;
        margin-bottom: 30px;
    }

    .wsus__instructor_form h5 {
        font-size: 25px;
    }

    .wsus__instructor_tabs .nav-item {
        width: 100%;
        margin-top: 5px;
    }

    .wsus__instructor_form .common_btn {
        width: 100%;
    }
    /*================================
        become a teacher end
    =================================*/


    /*================================
        blog details start
    =================================*/
    .wsus__main_blog_header span {
        display: block;
        margin: 10px 0px;
    }

    .wsus__main_blog_header {
        margin-top: 35px;
    }

    .wsus__main_blog h2 {
        font-size: 20px;
        margin: 30px 0px 20px 0px;
    }

    .wsus__blog_quot_area {
        padding: 20px !important;
        margin: 30px 0px !important;
    }

    .wsus__blog_quot_area p {
        font-size: 18px;
    }

    .wsus__blog_details h5, .wsus__blog_details h4 {
        font-size: 20px;
    }

    .wsus__share_blog {
        margin: 30px 0px;
    }

    .wsus__details_single_row {
        margin-top: 20px;
    }
    /*================================
        blog details end
    =================================*/


    /*================================
        contact page start
    =================================*/
    .wsus__contact .wsus__heading_area {
        margin-bottom: 0;
    }

    .accordion-button {
        font-size: 13px;
    }

    .wsus__contact_question {
        margin-bottom: 25px;
    }
    /*================================
        contact page end
    =================================*/


    /*================================
        instructor details start
    =================================*/
    .wsus__instructor_details_area {
        margin-bottom: 65px;
    }

    .wsus__instructor_text {
        position: static;
        transform: translate(0);
    }

    .wsus__instructor_text h4 {
        font-size: 23px;
        margin-top: 25px;
    }

    .wsus__instructor_text h6 {
        font-size: 14px;
    }
    /*================================
        instructor details end
    =================================*/


    /*================================
        FAQ page start
    =================================*/
    .wsus__faq_text h3 {
        font-size: 20px;
    }

    .wsus__faq_text .wsus_call_btn {
        font-size: 20px;
    }

    .wsus__counter_text {
        margin-bottom: 25px;
    }
    /*================================
        FAQ page end
    =================================*/


    /*================================
        gallery page start
    =================================*/
    .wsus__gallery .wsus__gallery_single {
        height: 200px;
    }
    /*================================
        gallery page end
    =================================*/


    /*================================
        login page start
    =================================*/
    .wsus__login_reg_area {
        padding: 10px;
        margin-bottom: 30px;
    }

    .wsus__login_reg_area .nav-item {
        width: 40%;
    }

    .wsus__login .forget_p {
        margin-top: 15px;
    }
    /*================================
        login page end
    =================================*/

    
    /*================================
        package page start
    =================================*/
    .wsus__single_packages {
        padding: 20px;
    }
    /*================================
        package page end
    =================================*/


    /*================================
        cart view start
    =================================*/
    .wsus__cart_list .wsus__pro_img {
        width: 150px;
    }

    .wsus__cart_list .wsus__pro_name {
        width: 300px;
    }

    .wsus__cart_list td.wsus__pro_name .cart_view_title {
        font-size: 16px;
    }

    .wsus__cart_list .wsus__pro_name span {
        font-size: 13px;
    }

    .wsus__cart_list .wsus__pro_status,
    .wsus__cart_list .wsus__pro_tk,
    .wsus__cart_list .wsus__pro_icon {
        width: 130px;
    }
    /*================================
        cart view end
    =================================*/


   /*================================
        checkout start
    =================================*/
    .wsus__order_details {
        padding: 10px;
    }

    .wsus__order_details_img {
        width: 55px;
        height: 45px;
    }

    .wsus__order_details_text p, 
    .wsus__order_details_tk p {
        font-size: 12px;
    }
    
    .form-check-label {
        font-size: 13px;
    }

    .wsus__order_details .common_btn {
        font-size: 14px;
    }
    /*================================
        checkout end
    =================================*/


    /*================================
        payment start
    =================================*/
    .wsus__pay_info_area #v-pills-tab {
        flex-direction: column !important;
    }

    .wsus__pay_info_area .nav-pills .nav-link {
        width: 100%;
    }

    .wsus__pay_info_area .tab-pane {
        padding: 10px;
        margin-bottom: 25px;
    }

    .wsus__payment_area form {
        padding: 10px;
    }

    .wsus__pay_caed_header h5 {
        font-size: 13px;
    }

    .wsus__payment_area .input {
        font-size: 13px;
    }

    .wsus__save_payment img {
        margin: 10px 10px 0px 0px;
    }

    .wsus__payment_area button,
    .wsus__input_area button {
        padding: 10px 20px;
        font-size: 14px;
    }
    /*================================
        payment end
    =================================*/


    /*================================
        home page 2 start
    =================================*/
    /* main menu 2 start */
    .main_menu_2 .navbar-toggler {
        border: none;
        color: #fff;
        background: #d33;
    }

    .main_menu_2 {
        background: #fff;
    }

    .main_menu_2 .navbar-brand {
        color: #d33 !important;
    }

    .wsus__right_menu {
        padding-bottom: 20px;
        justify-content: center;
    }

    .main_menu_2 .navbar-nav .nav-item {
        margin-right: 0;
        margin-top: 10px;
    }

    .wsus__right_menu li .common_btn_2 {
        padding: 0 15px;
        margin-right: 0px;
        height: 30px;
        line-height: 30px;
        color: #fff !important;
    }

    .main_menu_2 .wsus__droapdown::after {
        right: 40%;
        transform: translateX(-40%);
    }

    .main_menu_2 .wsus__droapdown {
        top: 130%;
    }

    .wsus__right_menu li .common_btn_2::after {
        display: none;
    }

    .main_menu_2 #navbarNav {
        background: #fff;
        border-top: 1px solid #d33;
    }

    .main_menu_2 .navbar-nav .nav-item .nav-link {
        color: #d33;
        background: #dd333317;
    }

    .main_menu_2 .navbar-nav .nav-link.active, 
    .main_menu_2 .navbar-nav .nav-item:hover .nav-link, 
    .main_menu_2 .menu_fix .navbar-nav .nav-item:hover .nav-link {
        color: #fff !important;
        background: #d33 !important;
    }

    .main_menu_2 .wsus__right_menu li a {
        color: #d33;
        border: 1px solid #d33;
    }

    .main_menu_2 .wsus__right_menu li a:hover {
        color: #fff !important;
    }

    /* banner 2 start */
    .wsus__banner_2_text {
        width: 90%;
        margin-top: 40px;
    }

    .wsus__banner_2_text h1 {
        font-size: 35px;
    }

    .wsus__banner_2_text p {
        width: 100%;
        margin: 30px 0px 40px 0px;
    }

    /* single courses 2 start */
    #wsus__single_course_2 .wsus__single_course_center {
        padding: 15px;
    }

    #wsus__single_course_2 .wsus__single_course_det {
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 25px;
    }

    #wsus__single_course_2  .wsus__single_course_center .icon {
        margin-bottom: 10px;
    }

    .wsus__courses_2 .courses_filter button {
        margin: 0px 0px 5px 0px;
        font-size: 12px;
    }

    #wsus__single_course_2 .text {
        width: 100%;
    }

    /* courses 2 start */
    .wsus__courses_2 .courses_filter button {
        margin: 0px 0px 5px 0px;
    }

    /* apply area 2 start */
    .wsua__apply_area_2_overlay {
        padding: 50px 0px;
    }

    /* instructor 2 start */
    .wsus__single_instructor_2_text {
        padding: 20px 0px;
        position: static;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .wsus__single_instructor_2_img {
        height: 300px;
    }

    .wsus__single_instructor_2_text a {
        text-align: center;
    }

    .wsus__single_instructor_2_text p {
        text-align: center;
    }

    .wsus__single_instructor_2_text ul{
        justify-content: center;
    }

    /* footer 2 start */

    .wsus__footer_2 .wsus__footer_text h4 {
        margin-bottom: 25px;
    }

    .wsus__footer_2 .wsus__footer_text {
        margin-bottom: 25px;
    }
    /*================================
        home page 2 end
    =================================*/


    /*================================
        home page 3 start
    =================================*/
    .courses_filter_3 {
        margin-bottom: 25px !important;
    }

    .wsus__single_counter_3 {
        margin-bottom: 60px !important;
    }

    .wsus__counter_3_overlay {
        padding: 70px 0px 10px 0px;
    }

    .wsus__blog_3 .blog_tag {
        top: 45%;
    }
    /*================================
        home page 3 end
    =================================*/
}



